@import "./colors";

$themes: (
  bgThemeColor1: (
    darkTheme: $darkMain,
    lightTheme: $lightMain,
  ),
  textThemeColor1: (
    darkTheme: $light1,
    lightTheme: $dark1,
  ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop ==$mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark-mode {
  @include styles("darkTheme");
}

.light-mode {
  @include styles("lightTheme");
}
