@import '../../../constants.module.scss';

.cart__wrapper {
  width: 200px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  margin: 10px;
  transition: .2s;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  }
}

.cart__link {
  text-decoration: none;
}

.cart__picture {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.cart__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0px 10px;
}

.cart__title {
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}

@media (max-width: $phone-width) {
  .cart__wrapper {
    width: 100%;
    height: 420px;
  }
}