@import '../../constants.module.scss';

.header__wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.main__wrapper {
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

@media (max-width: $phone-width) {
  .main__wrapper {
    padding: 10px 0 0 0;
  }
}