@import '../../../constants.module.scss';

.homeMenu__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.homeMenu__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: $tablet-width) {
  .homeMenu__wrapper {
    justify-content: flex-end;
  }

  .homeMenu__inner {
    display: none;
  }

  .burger__button {
    display: flex;
  }
}