.homeMenuButtons__wrapper {
  display: flex;
  align-items: center;
}

.homeMenuButtons__inner {
  display: flex;
}

.homeMenuButtons__inner_inBurger {
  display: flex;
  flex-direction: column;
}

.routeButton__homeMenu {
  margin-right: 20px;
}

.routeButton__burgerMenu {
  margin-bottom: 20px;
}
