@import './constants.module.scss';
@import './components/lightDarkTheme/light-dark-theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $mainText-size;
  font-family: sans-serif;
}

body {
  background: var(--bgThemeColor1);
  color: $text-color;
  padding: 20px;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

@media (max-width: $tablet-width) {
  body {
    padding: 10px 0 0 0;
  }
}

